
params {
	
	// Sample specification and input data directory
	// The path to a CSV file containing information about each sample
	// Including path to the SPAdes contigs and sample name
	sample_manifest = "$baseDir/resources/samples/test.csv"
	
	// The directory where the input SPAdes contig FASTA files are located
	spades_contig_folder = "$baseDir/data"
	
	// The directory where all output files will be placed.
	results = "$baseDir/results"
	
	// Specify the Genbank reference file for classifying the contigs
	classify_genbank = "$baseDir/resources/classify/ipd-mhc-mamu-2023-02-10_classII.gbk"
	
	// The path to a combined FASTA file containing the reference sequences for mapping
	// This file should contain the reference sequences for DPA, DPB, DQA, DQB, and DRB
	// With 1kb of flanking sequence on either side of the reference sequence
	combined_reference = "$baseDir/resources/mapping/28257-combined_DPA_DPB_DQA_DQB_DRB.fasta"

	// The path to a BED file containing primer locations for trimming reads
	// BED coordinates are 0-based, half-open and are relative to the combined_reference specified above
	primer_bed = "$baseDir/resources/primers/28257-OP204634-DPDQDR-1k.bed"
	
	// Files of Exonerate annotations
	// The path to a reference mRNA FASTA file for DPA.
	dpa_mrna_reference = "$baseDir/resources/annotate/MW679627-e2-e4-mRNA.fasta"
	// The path to a CDS annotation file for DPA.
	dpa_cds_annotation = "$baseDir/resources/annotate/MW679627-e2-e4-mRNA-annotations.txt"
	// The path to a reference mRNA FASTA file for DPB.
	dpb_mrna_reference = "$baseDir/resources/annotate/MW679628-e2-e4-mRNA.fasta"
	// The path to a CDS annotation file for DPB.
	dpb_cds_annotation = "$baseDir/resources/annotate/MW679628-e2-e4-mRNA-annotations.txt"
	// The path to a reference mRNA FASTA file for DQA.
	dqa_mrna_reference = "$baseDir/resources/annotate/MW679620-e2-e4-mRNA.fasta"
	// The path to a CDS annotation file for DQA.
	dqa_cds_annotation = "$baseDir/resources/annotate/MW679620-e2-e4-mRNA-annotations.txt"
	// The path to a reference mRNA FASTA file for DQB.
	dqb_mrna_reference = "$baseDir/resources/annotate/MW679622-e2-e4-mRNA.fasta"
	// The path to a CDS annotation file for DQB.
	dqb_cds_annotation = "$baseDir/resources/annotate/MW679622-e2-e4-mRNA-annotations.txt"
	// The path to a reference mRNA FASTA file for DRB.
	drb_mrna_reference = "$baseDir/resources/annotate/MW679619-e2-e4-mRNA.fasta"
	// The path to a CDS annotation file for DRB.
	drb_cds_annotation = "$baseDir/resources/annotate/MW679619-e2-e4-mRNA-annotations.txt"
	
}


// Docker settings
// Enable Docker and specify the Docker container image to use.
docker.enabled = true
process.container = 'dockerreg.chtc.wisc.edu/dhoconno/mhc-alleles-from-gdna-amplicons:27751'

// Changing default workflow-visualizing configuration to true
// Enable the creation of a DAG visualization file with the specified file name.
// This visualization can help users understand the workflow and identify any issues or bottlenecks.
dag {
	enabled = true
	overwrite = true
	file = 'mhc-class2-allele-discovery.png'
}

// Workflow introspection
// Set up optional timeline, report, and trace functionality to gather workflow execution information.
// This can help users monitor the progress of the workflow and troubleshoot any issues that arise.
timeline {
  enabled = false
  // overwrite = true
  file    = "${params.results}/timeline.html"
}

report {
  enabled = false
  // overwrite = true
  file    = "${params.results}/report.html"
}

trace {
  enabled = false
  // overwrite = true
  fields  = 'task_id,name,status,exit,realtime,%cpu,%mem,rss,vmem,peak_rss,peak_vmem,rchar,wchar'
  file    = "${params.results}/trace.txt"
}

// Executor configuration
// Set up the executor to use, along with the number of CPUs to allocate.
executor {
    name = 'local'
    cpus = 40
}
