
params {
	
	// Sample specification and input data directory
	sample_manifest = "$baseDir/resources/samples/samples.csv"
	spades_contig_folder = "$baseDir/data"
	
	// where to place results
	results = "$baseDir/results"
	
	// Setting for specific steps of the workflow
	classify_resources = "$baseDir/resources/classify"
	
	// Reference files for minimap2 mapping
	combined_reference = "$baseDir/resources/mapping/combined_DPA_DPB_DQA_DQB_DRB.fasta"

	// Settings for trimming step
	primer_bed = "$baseDir/resources/primers/OP204634-DPDQDR-1k.bed"
	dpa_minimum_length = "2300"
	dpb_minimum_length = "5700"
	dqa_minimum_length = "1900"
	dqb_minimum_length = "4000"
	drb_minimum_length = "3500"
	
	// Annotate files
	dpa_mrna_reference = "$baseDir/resources/annotate/MW679627-e2-e4-mRNA.fasta"
	dpa_cds_annotation = "$baseDir/resources/annotate/MW679627-e2-e4-mRNA-annotations.txt"
	dpb_mrna_reference = "$baseDir/resources/annotate/MW679628-e2-e4-mRNA.fasta"
	dpb_cds_annotation = "$baseDir/resources/annotate/MW679628-e2-e4-mRNA-annotations.txt"
	dqa_mrna_reference = "$baseDir/resources/annotate/MW679620-e2-e4-mRNA.fasta"
	dqa_cds_annotation = "$baseDir/resources/annotate/MW679620-e2-e4-mRNA-annotations.txt"
	dqb_mrna_reference = "$baseDir/resources/annotate/MW679622-e2-e4-mRNA.fasta"
	dqb_cds_annotation = "$baseDir/resources/annotate/MW679622-e2-e4-mRNA-annotations.txt"
	drb_mrna_reference = "$baseDir/resources/annotate/MW679619-e2-e4-mRNA.fasta"
	drb_cds_annotation = "$baseDir/resources/annotate/MW679619-e2-e4-mRNA-annotations.txt"
	
}


// Docker settings
docker.enabled = true
process.container = 'dockerreg.chtc.wisc.edu/dhoconno/mhc-alleles-from-gdna-amplicons:27751'


// Changing default workflow-visualizing configuration to true
dag {
	enabled = true
	overwrite = true
	file = 'mhc-class2-allele-discovery.png'
}


// Workflow introspection
timeline {
  enabled = false
  // overwrite = true
  file    = "${params.results}/timeline.html"
}

report {
  enabled = false
  // overwrite = true
  file    = "${params.results}/report.html"
}

trace {
  enabled = false
  // overwrite = true
  fields  = 'task_id,name,status,exit,realtime,%cpu,%mem,rss,vmem,peak_rss,peak_vmem,rchar,wchar'
  file    = "${params.results}/trace.txt"
}
