
params {
	
	// Sample specification and input data directory
	sample_manifest = "$baseDir/resources/samples/samples.csv"
	bam_folder = "$baseDir/data"
	
	animal = "mamu" // At this point, the workflow supports Rhesus macaque sequences (mamu) or cynomolgus macaque sequences (mafa)
	
	// where to place results
	results = "$baseDir/results"
	
	// Setting for specific steps of the workflow
	pbaa_resources = "$baseDir/resources/pbaa"
	classify_resources = "$baseDir/resources/classify"
	
	// Reference files for vsearch orient step
	dpa_reference = "$baseDir/resources/orient/MW679627.fasta"
	dpb_reference = "$baseDir/resources/orient/MW679628.fasta"
	dqa_reference = "$baseDir/resources/orient/MW679620.fasta"
	dqb_reference = "$baseDir/resources/orient/MW679622.fasta"
	drb_reference = "$baseDir/resources/orient/MW679619.fasta"
	
	// Settings for trimming step
	dpa_minimum_length = "2300"
	dpa_forward_primers = "GTRTGCTATGTATTTGCTTCATAGGG"
	dpa_reverse_primers = "GGGTAAGAGGTTAGATATGGGAGT"
	dpb_minimum_length = "5700"
	dpb_forward_primers = "GGATTAGGTGAGAGTGGYGCC"
	dpb_reverse_primers = "TAGGTCATGTTTGTTCCCCGAC,CCTGAGTACTTGGGACCTCATG"
	dqa_minimum_length = "1900"
	dqa_forward_primers = "GGTTCTTTCTTCCCCTGTTCTCC"
	dqa_reverse_primers = "ATAGTTTCAGTCAGCCCTGGATG"
	dqb_minimum_length = "4000"
	dqb_forward_primers = "AGARCGCCCTGATCCCTCTAA"
	dqb_reverse_primers = "YACCAAAGTTAAGGCTTGGTTCT"
	drb_minimum_length = "3500"
	drb_forward_primers = "GCGTCGCTGTCAGTGTCTTC"
	drb_reverse_primers = "TTCCTCCTCCAGAAAAGCCTATGG,AACCATGCACTGATSATTTCTGGA"
	
	// Settings for PBAA
	dpa_guide_fasta = "$baseDir/resources/pbaa/MW679627.fasta"
	dpb_guide_fasta = "$baseDir/resources/pbaa/MW679628.fasta"
	dqa_guide_fasta = "$baseDir/resources/pbaa/MW679620.fasta"
	dqb_guide_fasta = "$baseDir/resources/pbaa/MW679622.fasta"
	drb_guide_fasta = "$baseDir/resources/pbaa/cy0333-drb.fasta"
	
	// Annotate files
	dpa_mrna_reference = "resources/annotate/MW679627-e2-e4-mRNA.fasta"
	dpa_cds_annotation = "resources/annotate/MW679627-e2-e4-mRNA-annotations.txt"
	dpb_mrna_reference = "resources/annotate/MW679628-e2-e4-mRNA.fasta"
	dpa_cds_annotation = "resources/annotate/MW679628-e2-e4-mRNA-annotations.txt"
	dqa_mrna_reference = "resources/annotate/MW679620-e2-e4-mRNA.fasta"
	dpa_cds_annotation = "resources/annotate/MW679620-e2-e4-mRNA-annotations.txt"
	dqb_mrna_reference = "resources/annotate/MW679622-e2-e4-mRNA.fasta"
	dpa_cds_annotation = "resources/annotate/MW679622-e2-e4-mRNA-annotations.txt"
	drb_mrna_reference = "resources/annotate/MW679619-e2-e4-mRNA.fasta"
	dpa_cds_annotation = "resources/annotate/MW679619-e2-e4-mRNA-annotations.txt"
	
}


// Docker settings
docker.enabled = true
process.container = 'dockerreg.chtc.wisc.edu/dhoconno/mhc-alleles-from-gdna-amplicons:27751'


// Changing default workflow-visualizing configuration to true
dag {
	enabled = true
	overwrite = true
	file = 'mhc-class2-allele-discovery.png'
}


// Workflow introspection
timeline {
  enabled = false
  // overwrite = true
  file    = "${params.results}/timeline.html"
}

report {
  enabled = false
  // overwrite = true
  file    = "${params.results}/report.html"
}

trace {
  enabled = false
  // overwrite = true
  fields  = 'task_id,name,status,exit,realtime,%cpu,%mem,rss,vmem,peak_rss,peak_vmem,rchar,wchar'
  file    = "${params.results}/trace.txt"
}
